h1{
    border: 2px dashed red;
    width: 50%;
    padding:0.5em;

}
p{
    font-size: 1rem;
    width: 40ch;
}

body{
    min-height: 100vh;
}
/*ch is a unit that represents the width of 
the "0" character in the current font. It is 
often used to set widths based on the number of 
characters, which can be useful for creating layouts
 that adapt to different font sizes and types. In this
  case, setting the width to 40ch means that the paragraph 
  will be wide enough to fit approximately 40 characters, 
  regardless of the actual font size being used. This can help 
  ensure that the text remains readable and well-formatted across various
  devices and screen sizes.*/
/*rem is a unit that stands for "root em" and is relative to the font size of the root element
 (usually the <html> element).
 Using rem allows you to create scalable and responsive designs, as the size of elements will adjust based on the root font size.
 For example, if the root font size is set to 16px, then 1rem would equal 16px,
 and 0.5rem would equal 8px. This makes it easier to maintain consistent spacing
 and sizing across your website, especially when users adjust their browser's default font
 size for accessibility reasons.
*/
/*em is a unit that stands for "em square" and is relative to the font size of the element it is used on.*/
/*vw is a unit that stands for "viewport width" and is relative to the width of the viewport (the visible area 
of the web page). 1vw is equal to 1% of the viewport's width. Using vw allows you to create responsive designs that
 adapt to different screen sizes, as elements will scale based on the width of the viewport. For example, if you 
 set an element's width to 50vw, it will take up 50% of the viewport's width, regardless of the actual pixel dimensions 
 of the screen. This can help ensure that your layout remains consistent and visually appealing across various devices and
  screen sizes.
*/