/* *{}this is used for selecting all. */
/* main{} semantic use for everything inside html except header1 */
/* specifity id>class>element */
body {
    font-size: 22px;
    border: 3px solid black;
}

p{
    color: red;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

.highlight {
    text-transform:lowercase;
    background-color:rgb(196, 255, 220);
}