body{
    background: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.2;
    color:beige;
}
p{
    font-size: 20px;
    color:rgba(255, 255, 255, 0);/*rgba(255, 255, 255, 0.8) is a color value that represents 
    white with an opacity of 0.8. The first three values (255, 255, 255) represent the red, green,
     and blue components of the color, while the fourth value (0.8) represents the alpha channel,
      which controls the transparency of the color. In this case, the text will be white but slightly 
      transparent, allowing some of the background color to show through.*/
    color:hsla(12, 100%, 50%, 0.8);/*hsla(12, 100%, 50%, 0.8) is a color value that represents a shade
     of red with an opacity of 0.8. The first value (12) represents the hue, which is the color type
      (in this case, a shade of red). The second value (100%) represents the saturation, which is 
       intensity of the color. The third value (50%) represents the lightness, which is how light or 
       dark the color is. The fourth value (0.8) represents the alpha channel, which controls the transparency 
       of the color. In this case, the text will be a shade of red that is slightly transparent, allowing some
        of the background color to show through.*/ 
}
h1{
    text-align: center;
    font-size: 50px;
    color: lightblue;
}